*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

  .resumePreview{
    height: 500px;
    width: 560px;
    background-color: #0070f0;
    margin: 20px auto;
    padding: 40px 40px;
 
  }

 .text-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
 }

  .reume-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin: 0 auto;
  }

  /* From Uiverse.io by Satwinder04 */ 
.input-container {
  position: relative;
  /* margin: 50px auto; */
  /* width: 200px; */
}

.input-container input[type="text"] {
  font-size: 20px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
}

.input-container .label {
  position: absolute;
  top: 0;
  left: 0;
  color: #ccc;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-container input[type="text"]:focus ~ .label,
.input-container input[type="text"]:valid ~ .label {
  top: -20px;
  font-size: 16px;
  color: #333;
}

.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #333;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.input-container input[type="text"]:focus ~ .underline,
.input-container input[type="text"]:valid ~ .underline {
  transform: scaleX(1);
}



.input-wrapper{
  display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
flex-wrap: wrap;
margin: 40px;
gap: 20px;
}

.input-wrapper input {
  width: 200px;
  height: 30px;
  padding: 5px;
  background-color: whitesmoke;
  border-radius:10px 5px;
  border:2px solid #0070f0;
}

.subInputWrapper{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
}